 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
//  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: linear-gradient(HSLA(0, 0%, 23%, 1), HSLA(0, 0%, 66%, 1));
  cursor: crosshair;/* url(https://cdn0.iconfinder.com/data/icons/tab-bar-ios-and-wp8-vector-icons/48/crosshair-512.png), auto; */
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.welcome{
  text-align: center;
  position:relative;
  height:100%;

  .player_select{
    float:left;
    //margin-bottom: 100%;
    padding-left:5%;
  }
  .opponent_select{
    float:right;
    //margin-bottom: 100%;
    margin-top: -1.5%;
    padding-right:5%;
  }
  .start_container{
    width:100%;
  }
}

.fight, .end_lose, .end_win{
  display: none;
  text-align: center;
}


.hoverImages{
  height: 280px;
}
.weapon-hover{
  display:none;

}

button{
  background-color:black;
  border-radius: 5px;

}
button:hover{background-color:HSLA(0, 0%, 66%, 1);}

.bp:hover{
  background-image: linear-gradient(red, orange);
  }
.bo:hover{
  background-image: linear-gradient(HSLA(243, 82%, 11%, 1), HSLA(208, 23%, 16%, 1));
}
.fight{
  background: url(http://www.vizzed.com/vizzedboard/retro/user_screenshots/saves21/216736/NINTENDO64--GoldenEye%20007_Oct13%2011_13_43.png) no-repeat center center fixed;
//  background-repeat: no-repeat;
  //background-position: 480px 120px;
  //background-size:cover;
  padding:10%;

  .health_status{
    height: 400px;
    width:700px;
  }
  .fight_info{
  margin-top:-20%;
  }
}

.chair{
  display:none;
  position:fixed;
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.end_win, .end_lose{
  margin-bottom: 30%;
}

.logo{
  padding-top:3%;
  width: 70%;
  height: 250px;;
  margin: auto;
}
